.hero {
  color: white;
  max-width: 100%;
  position: relative;

  &__bg {
    background: url(../../assets/images/3.jpg);
    height: 600px;
    background-size: cover;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  &__overlay {
    background: rgba(0,0,0,.6);
    height: 600px;
  }
}