.hero {
  color: white;
  max-width: 100%;
  position: relative;

  &__bg {
    background: url(https://res.cloudinary.com/osdev/image/upload/v1570362593/befitassets/img/3_jkdtif.jpg);
    height: 640px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  &__overlay {
    background: rgba(0,0,0,.6);
    height: 640px;
  }
}