@import 'variable';

.hero {
  &__nav {
    width: 100%;
    display: flex;
    flex: 1;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    position: fixed;
    z-index: 5;

    &-container {
      flex: 0 0 80%;
      text-align: end;
      padding: 1rem 5rem 1rem 1rem;

    }

    &-item {
      display: inline-block;
    }

    &-link {
      font-size: 1.5rem;
    }

    &-item:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__logo {
    flex: 0 0 20%;
    padding: 1rem;
    .logo {
      font-size: 1.7rem;
    }
  }
}

.toggle{
 background: $darkcyan;
 position: absolute;
 top: 0;
 width: 200px;
 height: 100vh;
 min-height: 100vh;
 visibility: hidden;
left: -200px;

&__logo {
 font-size: 2rem;
 padding-top: 30px;
 font-weight: 400;
}
&__nav {
  list-style: none;
  padding-top: 20px;
 
 &-item {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;

  &:hover {
   background: $black;
  }
 }

 &-link:active {
   font-size: 1.6rem;
 }
}

}

.hero {
 &__toggle-container {
  position: absolute;
  right: 10px;
  top: 10px;

  .icon{
   font-size: 3.5rem;
  &:active {
   font-size: 3.4rem;
  }
 }
 }
 
 .toggle-close {
  display: none;
 }
}
