@media (max-width: 1040px) {
  
 .img-fluid{
   max-width: 100%;
 }

 .container-flex {
  flex-direction: column;
}

.features {
  &__item--text{
    order: 1;
    box-shadow: 2px 4px 5px 0.1px gainsboro !important;
  }
  &__item--image {
    order: -1;
  }
}

  }

@media (min-width: 0px) and (max-width: 1116px) {
  
  .sub-header{
    font-size: 2.7rem;
  }

  }

  @media (max-width: 699px) {
   .review {
    width: 100%;
    &__stories {
     flex-direction: column;
    }

    .stories__shape{
     position: static;
     text-align: center;
     display: inline-block;
   }

   .stories__text {
    opacity: 1;
   }
   
   img {
    display: inline-block;
   }
 }

 .features {
  &__item--image {
    img {
     width: 100%;
    min-width: 225px;
    }
  }
}
}

  @media (min-width: 700px) and (max-width: 930px) {
  
   .review {
    width: 80%;
 }
}

@media (min-width: 0px) and (max-width: 930px) {
  
  .class__type-container1,
  .class__type-container2{
    display: block;
    width: 90%;
    margin: auto;
  }

  .class-text{
    text-align: center;
  }
}

@media (min-width: 601px) {
 .hero__toggle-container {
  display: none;
}
}

@media (min-width: 0px) and (max-width: 600px) {
  
.hero__nav-container {
  display: none;
}

.hero__nav {
 display: block !important;
}
  .header-text {
    font-size: 3.5rem;
  }

  .main-header{
    font-size: 3.3rem;
  }

  .sub-header {
    font-size: 2.8rem
  }

  .features {
   &__item--image{
     width: 80%;
   }
 }
 
  .newsletter {
   &__body {
    top: 10%;
  }
   .form__group {
    width: 90%;
   }
  }
}

@media (max-width: 500px) {
 .wow {
  animation-name: none !important;
 }
}