@import "components/variable";

//remove styling from ul element
.unstyle {
  text-decoration: none;
  color: $white;
}

.header-text {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.1;
}

.main-header {
  font-size: 4.5rem;
  font-weight: 200;
}

.sub-header{
  font-size: 3rem;
  font-weight: 300;
}

.icon-font-size{
  font-size: 4rem;
}

//move element to the center
.centralize{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.opacify {
  opacity: .8;
}

.opacify2 {
  opacity: .6;
}

.bg-darkcyan {
  background: lighten($darkcyan, 15%);
  animation: slideDown .3s ease;
  -webkit-animation: slideDown .3s ease;
}

.bg-transparent {
  background: transparent;
}

.section-padding {
  padding: 10rem .5rem;
}

.section-padding-down {
  padding-bottom: 10rem;
}

.text-light{
  color: $white;
}

.w-100 {
  width: 100%;
}

.w-99 {
  width: 99%;
}

.w-80{
  width: 80%;
}

.w-60{
  width: 60%;
}

.w-70{
  width: 70%;
}

.padding-one{
  padding: 1rem;
}

.img-fluid {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-end{
  text-align: end;
}

.margin-center {
  margin: 0 auto;
}

.margin-top-sm{
  margin-top: 1.2rem;
}

.margin-top-md{
  margin-top: 1.5rem;
}

.margin-top-lg{
  margin-top: 6rem;
}

.container-flex {
  display: inline-flex;
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 150px;
  height: 150px;
}